In [1]:
import pandas as pd

In [2]:
DATA_PATH = 'C:/Temp/names/'

In [3]:
def count_top3(*years):
    cols = ['Name','Gender','Count']
    names_all_years = []
    for year in years:
        names_year = pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=cols)
        names_all_years.append(names_year)
    return pd.concat(names_all_years).groupby('Name').sum().sort_values(by='Count', ascending=False).head(3)

In [4]:
count_top3(2000, 1950, 1900)

         Count
Name
James   111795
John    109595
Robert  101381

In [5]:
count_top3(1880)

         Count
Name
John      9701
William   9562
Mary      7092

In [6]:
def count_dynamics(*years):
    cols = ['Name','Gender','Count']
    list_m = []
    list_f = []
    for year in years:
        names_year = pd.read_csv(DATA_PATH + 'yob' + str(year) + '.txt', names=cols)
        list_m.append(names_year[names_year.Gender=='M'].Count.sum())
        list_f.append(names_year[names_year.Gender=='F'].Count.sum())   
    return {'M': list_m, 'F': list_f}

In [7]:
count_dynamics(1900, 1950, 2000)

{'F': [299810, 1713259, 1814922], 'M': [150486, 1790871, 1962744]}